<!DOCTYPE html>
<html lang="en">
<head>
  <link href="{{ STATIC_URL }}flat-ui/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}flat-ui/css/flat-ui.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css">
  {% block head %}{% endblock %}
  <title>{% block title %}Stocally{% endblock %}</title>
    
</head>

<body>
  
	<div id="container-fluid">
    {% block container %}
  	<div class="navbar">
			<div class="navbar-inner" id="title-nav">
	  		{% block navbarinner %}
	  		<a class="brand" href="{% url mainsite.views.homepage %}">Stocally</a>
	  		<ul class="nav" id="nav-menu-left">
	    		{% block navmenuleft %}
	    		<li class="dropdown">
	      		<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Durham <b class="caret"></b></a>
	      		<ul class="dropdown-menu" role="menu">
							<li><a href="#">Durham</a></li>
							<li><a href="#">Indianapolis</a></li>
	      		</ul>
	    		</li>
	    		{% endblock %}
	  		</ul>
	  		<ul class="nav pull-right" id="nav-menu-right">
	    		{% block navmenuright %}
	    		<li><a href="#">About</a></li>
	    		<li><a href="#">Contact</a></li>
	    		{% if user.is_authenticated %}
	       		<li><a href={% url mainsite.views.profile %}> {{ user.username }}'s Profile</a></li>
						<li><a href="/logout/">Log Out</a></li>
	    		{% else %}
	      		<li><a href="/login/">Member Login</a></li>
	    		{% endif %}
	    		{% endblock %}
	  		</ul>
	  		{% endblock %}
		</div> 
	</div> 
 		{% endblock %}

{% block content %}
{% endblock %}
    
   <!-- 
      <footer id="footer">
	{% block footer %}
	<p> Please contact the site admin <a href="mailto:sjohnson540@gmail.com">Sam Johnson</a> with any questions you might have.</p>
	{% endblock %}
      </footer> -->
    </div>      
  <script src="http://code.jquery.com/jquery.js></script>
  <script src="{{ STATIC_URL }}flat-ui/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/base.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
