<!DOCTYPE html>
<html lang="en">
<head>
  <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/homepage_custom.css" rel="stylesheet" type="text/css">
  {% block head %}{% endblock %}
  <title>{% block title %}Stocally{% endblock %}</title>
    
</head>

<body>
  <div id="wrap">
    <div id="container">
      {% block container %}
      <div class="navbar">
	<div class="navbar-inner" id="title-nav">
	  {% block navbarinner %}
	  <a class="brand" href="/">Stocally</a>
	  <ul class="nav" id="nav-menu-left">
	    {% block navmenuleft %}
	    <li class="dropdown">
	      <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Durham <b class="caret"></b></a>
	      <ul class="dropdown-menu" role="menu">
		<li><a href="#">Durham</a></li>
		<li><a href="#">Indianapolis</a></li>
	      </ul>
	    </li>
	    {% endblock %}
	  </ul>
	  <ul class="nav pull-right" id="nav-menu-right">
	    {% block navmenuright %}
	    <li><a href="#">About</a></li>
	    <li><a href="#">Contact</a></li>
	    <li><a href="/login">Owner Login</a></li>
	    
	    {% endblock %}
	  </ul>
	  {% endblock %}
	</div> 
      </div> 
      {% endblock %}
      {% block content %}{% endblock %}
    </div>
    <div id="push"></div>
  </div>
  <footer>
    <div id="footer">
      <div class="container">
	<p> Please contact the site admin <a href="mailto:sjohnson540@gmail.com">Sam Johnson</a> with any questions you might have.</p>
      </div>
    </div>
  </footer>
      
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
