{% extends "base.html" %}

{% block head %}
<link href="{{ STATIC_URL }}css/homepage.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span1"></div>

<div class="span10">
<h1 class="text-left"> Durham, NC <br/>
<img src="{{ STATIC_URL }}images/bull.jpg" /><br/>Help yourself and your community. Buy Locally. </h1>
<div class="row-fluid">
	
	<div class="span4">
		<a href="#" class="btn btn-large btn-block btn-inverse">Food!</a>
	Lorem ipseum dolores..a bunch of other things about food services, and how great this web site is. check out the feature restaurant, good provider, or service provider.
	</div>
	
	<div class="span4">
		<a href="#" class="btn btn-large btn-block btn-inverse">Goods!</a>
	Lorem ipseum dolores..a bunch of other things about food services, and how great this web site is. check out the feature restaurant, good provider, or service provider.
	</div>

	<div class="span4">
	<a href="#" class="btn btn-large btn-block btn-inverse">Services!</a>
	Lorem ipseum dolores..a bunch of other things about food services, and how great this web site is. check out the feature restaurant, good provider, or service provider.
	</div>

</div
</div>  

<div class="span1"></div>
    
  
</div><!--row close-->

{% endblock %}
