{% extends "base.html" %}

{% block content %}
<div class="span7 offset3">
  <div class="hero-unit">
    {% if form.errors %}
    <p class="text-error"> Wrong username/password </p>
    {% endif %}
    <form action="{% url django.contrib.auth.views.login %}" method="post">
      {% csrf_token %}
      <fieldset>
	<legend id="login">Member Login</legend>
	<table>
	  <tr>
	    <td>{{ form.username.label_tag }}</td>
	    <td>{{ form.username }}</td>
	  </tr>
	  <tr>
	    <td>{{ form.password.label_tag }}</td>
	    <td>{{ form.password }}</td>
	  </tr>
	</table>
	
	<button  type="submit" value="login" class="btn btn-primary">Login</button>
	<input type="hidden" name="next" value="{{ next }}" />
      </fieldset>
    </form>
  </div><!--hero close-->
</div><!--span7 offset4 close-->
{% endblock content %}
